#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R(Programming Language)
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. stringr

## Data Science Tools
* [RStudio](#RStudio)
* [Apache Spark](#ApacheSpark)
* [Tensorflow](#Tensorflow)

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60

# OBJECTIVES:

* [RLanguage](#RLanguage)
* [Python](#Python)
* [Java](#Java)

## Author:
Emmanuel Edwin.T